@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

@font-face {
    font-family: 'Alexis';
    font-style: normal;
    font-weight: normal;
    src: local('Alexis'), url('../fonts/alex.woff') format('woff');
    src: url("../fonts/alexisv3.ttf") format('truetype');
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #0068B3;
    background-color: black;
}

#prematch_table {

    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    color: rgb(57, 182, 255);
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0, 162, 255);
    border-radius: 25px;
    background-color: black;
}

#postmatch_table {

    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    color: rgb(37, 99, 235);
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
}

#auton_table, #teleop_table {
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    color: rgb(37, 99, 235);
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-style: solid;
    border-color:black;
    border-radius: 25px;
}

.button {
    font-family: Alexis; 
    font-size: 16px;
}



/* Style the Start button */
/* Style the Start button */

#start_tct {
  background-color: rgb(37, 99, 235);
  color: white;
  border: black;
  padding: 20px;
}
/* Style the Amped Normal Miss Buttons */
#miss_amn {
    background-color: rgb(37, 99, 235);
    color: white;
    border: purple;
    padding: 10px;
}
#amped_amn {
    background-color: rgb(37, 99, 235);
    color: white;
    border: purple;
    padding: 5px;
}
#normal_amn {
    background-color: rgb(37, 99, 235);
    color: white;
    border: purple;
    padding: 5px;
}



/* Style the Reset button */
#clear_tct {
  background-color: rgb(37, 99, 235);
  color: white;
  border: black;
  padding: 20px;
}

/* Style the Pickup button */
#cycle_tct {
  background-color: rgb(37, 99, 235);
  color: white;
  border: black;
  padding: 20px;
}

/* Style the Undo button */
#undo_tct {
  background-color: rgb(37, 99, 235);
  color: white;
  border: black;
  padding: 20px;
}

#autonHeader, #teleopHeader1, #teleopHeader2{
    color: #0068B3;
    border-color: #0068B3;
    border-width: 1px;
}

#postmatchHeader{
	color: #0068B3;
    border-width: 4px;
    border-color: black;
}

#prematchHeader1, #prematchHeader2{
    background: black;
    border-color: #0068B3;
    border-width: 1px;
}

#qrHeader1, #qrHeader2 {
    color: #0068B3;
}
    
.field-image {
    margin: 2vw;
}

.field-image-src{  
    background-position: center;
    border: 1px solid;
}

.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: #0068B3;
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: justify;
    background: black;
}

#prematch{
    display: table;
}

#qr-code{
  text-align: center;
}

h1{
    font-family: Alexis;
    text-align: center;
    border-style: groove;
    border-color: rgb(0, 0, 0); 
    border-width: 2px;
    font-size: 40px;
    padding: 1px; 
    font-weight: 350;
}

#page2, #page4 {
    color: rgb(0, 0, 0);
}

h2{
    font-family: Alexis;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
}

.match-label{
    text-align: center;
}

.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
    font: roboto;
}

.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
    font: roboto;
}

.half-button-container{
    display: flex;
}

#nextButton9, #nextButton10, .clearForm, .submitForm, #displayButton, #copyButton {
    font-family: Alexis; 
    padding: 10px;
    background-color: rgb(37, 99, 235);
    text-decoration: none;
    display: inline-block;
}
#nextButton1{
    font-family: Alexis; 
    padding: 10px;
    background-color: rgb(37, 99, 235);
    text-decoration: none;
    display: inline-block;
    color: black;
}
#nextButton2{
	 font-family: Alexis; 
    padding: 10px;
    background-color: rgb(37, 99, 235);
    text-decoration: none;
    display: inline-block;
}
#nextButton3, #nextButton4, #nextButton5, #nextButton6, #nextButton7, #nextButton8 {
    font-family: Alexis;
    background-color: rgb(37, 99, 235); 
    padding: 10px;
    color: black;
}

.undoButton, .flipButton {
    font-family: Alexis;
    background-color: rgb(37, 99, 235); 
    padding: 10px;
    color: white;
    margin-left: 20px;
}

#prevButton7, #prevButton8, #prevButton9{
    font-family: Alexis;
    background-color: rgb(37, 99, 235); 
    padding: 10px;
    color: black;
}

#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6{
    font-family: Alexis;
    background-color: rgb(37, 99, 235); 
    padding: 10px;
    color: black;
    
}

#prematch_table{
    font: Alexis;
    text-align: center;
}


h1 .odd {
    font-family: Alexis;
    text-align: center;
    color: rgb(10, 180, 236);
}

h1 .even {
    font-family: Alexis;
    text-align: center;
    color: rgb(37, 99, 235);
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 7px 4px;
}

input {
    font-size: 15px;
    font: roboto;
	text-align: center-left;
}


input[type=radio] {
	display:inline-block;
	vertical-align: middle;
	border: 1px solid rgb(41, 27, 163);
	padding: 0.5em;
	-webkit-appearance: none;
    width: 20px;
    height: 20px;
}

input[type=radio]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 15px 15px;
}

input[type=radio]:focus {
  outline-color: transparent;
}

input[type=checkbox] {
	display:inline-block;
	vertical-align: middle;
	border: 1px solid rgb(41, 27, 163);
	padding: 0.5em;
	-webkit-appearance: none;
    width: 50px;
    height: 50px;
}

input[type=checkbox]:checked {
  background: url(data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==) no-repeat center center;
  background-size: 40px 40px;
}

input[type=checkbox]:focus {
  outline-color: transparent;
}

.title {
    width: "50%";
    text-align: right;
}

.field {
    width: "50%";
    text-align: left;
}

#qr-table {
    text-align: center;
    color: #0068B3;
    background-color: rgb(0, 0, 0);
}

#data {
    font-family:'Lucida Console', 'monospace';
    text-align: justify;
}

